body {
    background-color: black;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

div, button {
    height: 200px;
    width: 40px;
    background-color: white;
    margin: 10px;
    text-align: center;
    align-items: flex-end;
}

.keypress{
    transform: scale(1);
}

button:hover {
    color: #fff;
    background: #86e9b6;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

button.active {
    color: #fff;
    background: #159051;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}
